.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  width: 250px;
  height: 45px;
  text-align: center;
}
#main {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
